@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --background-body: #292929;
  --background-content: #1d1d1d;
  --text-color: #e5e5e5;
  --highlight-color: #04aa6d; /*f71735 */
  --navbar-height: 2.4em;
  --title-video-height: 70vh;
  --min-width: 300px;
  --edge-gap: 5%;
  --text-padding: 0.3em;
}

body {
  margin: 0;
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  background: var(--background-body);
  color: var(--text-color);
}

/* Global */
a {
  background-color: var(--highlight-color);
  color: var(--text-color);
  padding: var(--text-padding);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-color: var(--highlight-color);
  border-style: solid;
}

a:hover {
  color: var(--highlight-color);
  background-color: var(--background-body);
  border-color: var(--highlight-color);
  border-style: solid;
}

.content {
  width: 100%;
  text-align: center;
}

.content > div {
  border: var(--highlight-color);
  border-style: solid;
  border-width: 5px 0 0 0;
}

.paragraph {
  text-align: center;
  padding: 0 15% 0 15%;
}

.text-boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

textblock {
  width: 35%;
  min-width: var(--min-width);
  background-color: var(--background-content);
  border-radius: 20px;
  margin: 2.5%;
  padding: 5%;
  text-align: left;
}

textblock .text {
  width: 100%;
}

textblock h3 {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid;
}

th {
  border: 3px solid;
}

td {
  border-left: 3px solid;
  padding: 1%;
}

/* use at the top of pages to space out the header */
.header-padding {
  width: 100%;
  height: var(--navbar-height);
}

/* header */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-content);
  z-index: 10;
}

#home {
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar img {
  height: 2.2em;
}

.navbar p {
  padding: 14px 16px;
  margin: 0;
}

.navbar a {
  background-color: var(--background-content);
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: solid;
  border-color: var(--background-content);
}

.navbar a:hover {
  background-color: var(--background-body);
  border: var(--highlight-color);
  border-style: solid;
}

.navbar a.active {
  background-color: var(--highlight-color);
  border: var(--highlight-color);
  border-style: solid;
}

.navbar .icon {
  display: none;
  border: var(--background-content);
  border-style: solid;
}

@media screen and (max-width: 650px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--background-body);
    border: var(--highlight-color);
    border-style: solid;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    border: var(--background-content);
    border-style: solid;
  }
  .navbar a:hover {
    background-color: var(--background-body);
    border: var(--highlight-color);
    border-style: solid;
  }
  .navbar a.active {
    background-color: var(--highlight-color);
    border: var(--highlight-color);
    border-style: solid;
  }
}

/* Home */
#video-section {
  width: 100%;
  height: var(--title-video-height);
}

#video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#title {
  position: absolute;
  width: 100%;
  height: var(--title-video-height);
  top: var(--navbar-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

#title h1 {
  padding: 0 5% 0 5%;
}

#title img {
  width: 95%;
  max-width: 700px;
}

.header-block {
  width: 100%;
}

/* Product */
.product {
  width: 100%;
}

.product-item {
  background-color: var(--background-content);
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.product-item div {
  min-width: var(--min-width);
  width: 40%;
  min-width: 450px;
  text-align: left;
}

.product-item img {
  width: 35%;
  min-width: 400px;
  padding: var(--edge-gap);
}

.product-item th {
  padding: var(--text-padding);
  border-style: solid;
  border-color: var(--highlight-color);
}

.product-item td {
  padding: var(--text-padding);
  border-style: solid;
  border-color: var(--highlight-color);
}

/* Features */
.features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: var(--edge-gap) 0% var(--edge-gap) 0%;
  background-color: var(--background-content);
}

#top-features {
  padding: 0 0 var(--edge-gap) 0;
}

.opposite {
  flex-wrap: wrap;
  background-color: var(--background-body);
}

.features-item {
  width: 45%;
  min-width: var(--min-width);
}

.features img {
  margin: 0;
  padding: 0;
  object-fit: cover;
  width: 100%;
}

.carousel {
  width: 35%;
}

/* Team */
.team {
  width: 90%;
  margin: 0 var(--edge-gap) 0 var(--edge-gap);
}

.team h1 {
  text-align: center;
}

.team .text-container {
  width: 100%;
}

.team .image-container {
  width: 100%;
  min-width: var(--min-width);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
}

.team .image-container img {
  width: 23%;
  min-width: var(--min-width);
  border-radius: 50%;
  margin: 2.5%;
}

/* Blog */
#blog-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-summary {
  width: 20%;
  min-width: var(--min-width);
  background-color: var(--background-content);
  border-radius: 20px;
  margin: 1%;
  padding: 2.5%;
  text-align: left;
}

.blog-summary h3 {
  margin: 4% 0 0 0;
}

.blog-summary img {
  width: 100%;
  height: 30%;
}

.blog-summary a {
  border-style: solid;
  margin: 0 26.5% 0 26.5%;
  width: 40%;
  padding: 3%;
}

/* Blog Post */
.article {
  margin: 4rem 0;
}

.article img {
  width: 100%;
  border-radius: 20px;
}

.post-wrapper {
  width: 100%;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.back-button {
  position: fixed;
  padding: 1%;
  bottom: 30px;
  right: 40px;
  background-color: var(--highlight-color);
  text-align: center;
  text-decoration: none;
  border-style: solid;
}
